{
  "ignore": [],
  "env": {
    "test": {
      "presets": [ "env", "react", "stage-3" ],
      "plugins": [ "transform-class-properties", "react-hot-loader/babel" ]
    },
    "development": { 
      "presets": [ ["env", {"modules" : false} ], "react", "stage-3" ],
      "plugins": [ "transform-class-properties", "react-hot-loader/babel" ]
    },
    "production": { 
      "presets": [ ["env", {"modules" : false} ], "react", "stage-3" ],
      "plugins": [ "transform-class-properties", "react-hot-loader/babel" ]
    }
    
  }
}