.cart{ 
  position: absolute;
  background-color: white;
  top: 53px;
  right: 15px;
  border:1px solid lightgray;
  border-radius: 3px;
  display: none;
  font-size: 0.9rem;
  width: 300px;
  z-index: 1000;
}


.cart.show{
  display: block;
}

.cart-item, .cart-item-wrapper{
  padding: 15px;
  
  border-bottom: 1px solid lightgray;
  display: flex;
}
.cart-item .image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width:30%;
  display: inline-block;
}

.cart-item .image::after{
  /* .slider .slide::after{ */
    content:'';
    display: block;
    z-index: -100;
    padding-bottom: 100%;
  }

.cart-item .item-info{
  width:70%;
  display: inline-block;
  font-size: 0.9rem;
  vertical-align: top;
  padding: 0 5px;
}

.cart .error{
  background-color: rgba(216, 112, 147);
  color:white;
}

.cart .icon{
  margin-right: 5px;
}
.cart .delete{
  align-self: center;
}
.cart .delete .icon{
  cursor: pointer;
}

.cart button.buy{
  width:100%;
}