.cart{ 
  background-color: white;
  border:1px solid lightgray;
  border-radius: 3px;
  font-size: 0.9rem;
  width: 300px;
  z-index: 1000;
  margin-top:8px;
  display: none;
}

.cart.show{
  display: block;
}

.cart-item, .cart-item-wrapper{
  padding: 15px;
  
  border-bottom: 1px solid lightgray;
  display: flex;
}
.cart-preview-div{
  position: absolute;
  right: 64px;
}
.cart-item .image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width:30%;
  display: inline-block;
}

.cart-item .image::after{
  /* .slider .slide::after{ */
    content:'';
    display: block;
    z-index: -100;
    padding-bottom: 100%;
  }

.cart-item .item-info{
  width:70%;
  display: inline-block;
  font-size: 0.9rem;
  vertical-align: top;
  padding: 0 5px;
}

.cart .error{
  background-color: rgba(216, 112, 147);
  color:white;
}

.cart .icon{
  margin-right: 5px;
}
.cart .delete{
  align-self: center;
}
.cart .delete .icon{
  cursor: pointer;
}

.cart button.buy{
  width:100%;
}

.shopping-cart:hover {
  background-color: transparent!important;
}

.chat-start-icon{
  position: absolute;
  top: 2px;
  right: 32px;
  width: 14px;
  height: 9px;
  display: block;
  background-position: -141px -42px;
  background-image: url(/src/asset/img/icon.png);
  background-repeat: no-repeat;
  display: none;
}
.cart-wrapper:hover .cart, .cart-wrapper:hover .chat-start-icon{
  display: block;
}
@media only screen and (min-width: 992px) {
  .shopping-cart{
    right:15px;
    top:10px;
    position: block;
  }
}