.carousel{
  position: relative;
}

.carousel .button{
  opacity: 0;
  position: absolute;
  background-color: darkgray;
  border:none;
  color: white;
  top: 50%;
  transition-duration: 0.2s;
}

.carousel:hover .button{
  opacity: 1;
}

.carousel .slide-group{
  list-style: none;
  padding:0;
  margin:0 15px;
}

.carousel .slide{
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: zoom-in;
}

.carousel .slide.show::after{
  content:'';
  display: block;
  z-index: -100;
  padding-bottom: 100%;
}

.carousel .slide:first-child{
  display: list-item;  
}

.carousel .leftArrow{
  left:0;
}

.carousel .rightArrow{
  right:0;
}

.lightbox{
  display: none;
  opacity: 0;
  transition-duration: 0.2s;
}

.lightbox.show{
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 1;
  
}

.lightbox img{
  position: relative;
  top: 40px;
  height: calc(100% - 80px);
  max-width: 100%;
  cursor: zoom-out;
}

.lightbox .icon{
  position: fixed;
  left: 10px;
  top: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}