.product-list-item{
  padding: 0 15px;
  margin-bottom: 30px;
  cursor: pointer;
}

.product-img {
  max-width:100%;
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
}

.product-list-item:hover .product-img{
  opacity: 0.85;
}

.product-name {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

.product-price{
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
}