.product-img{
  width:100%;
}

.product-name{
  margin-bottom:5px;
}


.product-detail-page .price{
  font-size: 1.5rem;
  color: #636363
}

.product-info-row .ea{
  font-size: 1rem;
}

.product-info-row .button{
  width: 50%;
}

.product-info-row .button:first-child{
  margin-right:2px;
}

.product-info-row .button:last-child{
  margin-left:2px;
}

.section{
  border-bottom: 1px solid lightgray;
}