.tab-group{
  display: flex;
  flex-flow: row nowrap;
}

.tab{
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;  
  text-align: center;
  width: 100%;
}

.tab a{
  text-decoration: none;
  color:inherit;
}

.tab.active{
  border-bottom: 3px solid palevioletred;
}